body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: bisque;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
}

.cell {
  height: 100px;
  width: 100px;
}
